body {
    font-family: Arial, sans-serif;
    background-color: #ffeef7;
    text-align: center;

}

.container {
    background-color: white;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

button {
    background-color:pink;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    font-size: 20px;
}

h1 {
    color: #d94e8f;
}

h2 {
    color: #cc4a85;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    padding: 20px;
}

.smoothie-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 8px;
}

select {
    background-color: #ffeef7;
    border-color: #cc4a85;
    border-radius: 5px;
    padding: 5px;
    width: 130px;
    text-align: center;
    
}

ul, ol {
    text-align: left;
    width: 70%;
    margin: 10px auto;
}
